@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);
@import url("https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Noto+Kufi+Arabic:wght@400;500;600;700&display=swap");

@import "tailwindcss";

@theme {
  /* --*: initial;

    --color-*: initial; */

  --color-primary: var(--colors__primary);
  --color-accent: var(--colors__accent);
  --color-background: var(--colors__background);

  --breakpoint-ss: 390px;

  --font-display: "Cascadia Mono", "Noto Kufi Arabic", monospace;
}

@import "./glassmorphism.css";

:root {
  --colors__background: #063c59;
  --colors__primary: #2a5b7c;
  --colors__accent: #00b2b2;

  --glassmorphism-bg__position-x: calc(var(--mouse-x, -100vmax));
  --glassmorphism-bg__position-y: calc(var(--mouse-y, -100vmax));

  --_base-glassmorphism-bg: radial-gradient(
      circle at bottom center,
      hsla(from var(--colors__accent) h s l / 0.1) 0%,
      transparent 50%
    )
    center center / 100vw 100vh no-repeat;
}

@supports (background-clip: text) and (-webkit-background-clip: text) and
  (-webkit-text-fill-color: transparent) {
  .glassmorphism-text {
    @apply glassmorph glassmorph-glow-opacity-100 glassmorph-bgcolor-[transparent] glassmorph-bg-clip-text;
    /* background-clip: text; */
    color: hsla(from white h s l / 0.7);
    backdrop-filter: none !important;
    -webkit-text-stroke-width: 0.0625em;
    -webkit-text-stroke-color: hsla(from var(--colors__accent) h s l / 0.2);
  }
}

[dir="rtl"] canvas {
  transform: scaleX(-1);
}

.card {
  border-radius: 0.25rem;
  @apply lg:p-8 md:p-4 p-2;
}

.container {
  @apply max-sm:max-w-full;
}

body {
  font-family: var(--font-display);
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* * {
  cursor: none !important;
} */

/* body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  z-index: 999999999999999;
  background: radial-gradient(
    circle at center,
    hsla(from var(--colors__accent) h s 80 / 1) 20%,
    transparent 50%
  );
  pointer-events: none;

  transform: translate(
    calc(var(--mouse-x, -100vmax) - 50%),
    calc(var(--mouse-y, -100vmax) - 50%)
  );
} */
